<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>パスワード再設定（新しいパスワード入力）</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/login.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="card">
            <div class="form-side">
                <h2>新しいパスワードを入力してください</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn-send">送る</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
