<!-- ツールボックス -->
<xml id="toolbox" style="display:none">
  <category name="うごき" colour="230">
    <block type="move_steps"></block>
    <block type="turn_right"></block>
    <block type="turn_left"></block>
    <block type="goto_xy"></block>
    <block type="move_relative"></block>
    <block type="move_to_duration"></block>
    <block type="set_speed"></block>
    <block type="wait_seconds"></block>
    <block type="stop"></block>
    <block type="pause"></block>
    <block type="resume"></block>
    <block type="get_position"></block>
  </category>
  <category name="入力" colour="160">
    <block type="show_text"></block>
    <block type="radio_choice"></block>
    <block type="radio_free"></block>
    <block type="checkbox_free"></block> 
    <block type="number_input"></block>
    <block type="print_text"></block>
    <block type="textarea"></block>
    <block type="select_dropdown"></block>
    <block type="date_input"></block>
    <block type="datetime_input"></block>
    <block type="slider"></block>
    <block type="toggle_switch"></block>
    <block type="file_upload"></block>
  </category>
  <category name="計算" colour="200">
    <block type="direct_number"></block>
    <block type="arithmetic"></block>
    <block type="modulo"></block>
    <block type="power"></block>
    <block type="sqrt"></block>
    <block type="abs"></block>
    <block type="negate"></block>
    <block type="round"></block>
    <block type="floor"></block>
    <block type="ceil"></block>
    <block type="min"></block>
    <block type="max"></block>
    <block type="clamp"></block>
    <block type="random_int"></block>
    <block type="random_float"></block>
    <block type="length"></block>
    <block type="date_add_days"></block>
    <block type="compare_values"></block>
  </category>
  <category name="くり返し・条件" colour="120">
    <block type="controls_repeat_custom"></block>
    <block type="controls_if_custom"></block>
    <block type="controls_while"></block>
    <block type="controls_repeat_until"></block>
    <block type="controls_do_until"></block>
    <block type="controls_forever"></block>
    <block type="controls_try"></block>
    <block type="controls_for"></block>
    <block type="controls_for_each"></block>
    <block type="controls_break"></block>
    <block type="controls_continue"></block>
    <block type="controls_switch"></block>
    <block type="controls_case"></block>
    <block type="controls_default"></block>
  </category>
  <category name="システム" colour="290">
    <block type="load_system"></block>
    <block type="system_condition"></block>
    <block type="display_system"></block>
  </category>
</xml>
